<!DOCTYPE html>
<html5>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=no" />
    <title>@ViewBag.Title</title>
    <!--引用bootstrap的核心文件-->
    <link rel="stylesheet" href="@Url.Content("~/Jscript/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Jscript/bootstrap/css/bootstrap.css")">
    <!--引用版本1.9版本以上的jquery-->
    <script type="text/javascript" src="@Url.Content("~/Jscript/bootstrap/js/jquery-1.11.2.js")"></script>
    <!--引用bootstrap的核心js-->
    <script type="text/javascript" src="@Url.Content("~/Jscript/bootstrap/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Jscript/bootstrap/js/bootstrap.min.js")"></script>
    <!--引用自制Helps.js-->
    <script type="text/javascript" src="@Url.Content("~/Jscript/Helps/Helps.js")"></script>
    <!--瀑布流插件-->
    <script type="text/javascript" src="@Url.Content("~/Jscript/Helps/masonry-docs.min.js")"></script>
    <!--jquery操作session-->
    <script type="text/javascript" src="@Url.Content("~/Jscript/Helps/jquerysession.js")"></script>
    <!--上下滑动-->
    @*<script type="text/javascript" src="@Url.Content("~/Jscript/Helps/idangerous.swiper.min.js")"></script>*@
    <!--手势事件插件-->
    <script type="text/javascript" src="@Url.Content("~/Jscript/Helps/jgestures.js")"></script>
    <!--轻量级手机触摸特效-->
    <script type="text/javascript" src="@Url.Content("~/Jscript/Helps/Touchwipe.js")"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html5>