@{
    ViewBag.Title = "留言墙";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/CSS/MessageWall.css" rel="stylesheet" />
<link href="~/CSS/Messagewal/Message.css" rel="stylesheet" />
<div id="bj">
    <div id="title"><img src="~/Images/Messagewall/title.png" /></div>
    <div class="box3">
        <div></div>
        <div class="border3">
            @{
                if (@ViewBag.list != null)
                {
                    foreach (FirstPencilWeb.Models.Message m in @ViewBag.list as List<FirstPencilWeb.Models.Message>)
                    {
                        <div class="alert">
                            <img src="@m.User.Headimgurl" class="pull-left" />
                            <blockquote>
                                <p class="text">
                                    <span>
                                        @m.User.NickName：
                                    </span>
                                    @m.Content
                                </p>
                                <small class="pull-right">@m.CreateDate</small>
                            </blockquote>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
<script type="text/javascript">

    var num = 0;

    $(document).ready(function () {
        $(".border3").css("animation-play-state", "paused");
        $(".border3").css("-webkit-animation-play-state", "paused");
        $("#bj").css("height", $(window).height());
        $(".pull-right").html($(".pull-right").html().substring(11, 19));
        add();
    })

    $("#but").click(function () {
        num += 110;
        var str = '<div class="alert"><strong>Warning!</strong> Best check yo self, you are not looking too good.</div>';
        $(".border3").append(str);
        $(".border3").css("animation-play-state", "");
        $(".border3").css("-webkit-animation-play-state", "");
        $(".border3").css("-webkit-transform", "translate(0,-" + num + "px)");
        setTimeout(display, 2000);
    })

    function display() {
        $(".border3").css("animation-play-state", "paused");
        $(".border3").css("-webkit-animation-play-state", "paused");
    }

    function add() {

        $.ajax({
            url: "/Function/Add",
            dataType: "json",
            type: "POST",
            success: function (data) {
                if (data.msg == "no") {
                } else {
                    num += 110;
                    var date = data.CreateDate.substring(11, 19);
                    var str = '<div class="alert"><img src="' + data.Headimgurl + '" class="pull-left" /><blockquote> <p class="text"><span>' + data.NickName + '：</span>' + data.Content + '</p><small class="pull-right">' + date + '</small></blockquote></div>';
                    $(".border3").append(str);
                    $(".border3").css("animation-play-state", "");
                    $(".border3").css("-webkit-animation-play-state", "");
                    $(".border3").css("-webkit-transform", "translate(0,-" + num + "px)");
                    setTimeout(display, 2000);
                    add();
                }
            }
        })
    }


</script>
