@{
    ViewBag.Title = "企业公告";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .accordion-group {
        margin: 0.5em;
    }

    .alert {
        margin: 2%;
    }
</style>
<div class="accordion" id="accordion2">
    @{
        if (ViewBag.attentionlist != null)
        {
            foreach (FirstPencilService.Models.Attention attention in @ViewBag.attentionlist as List<FirstPencilService.Models.Attention>)
            {
                string parent = "#collapse" + @attention.AttentionId;
                string id = "collapse" + @attention.AttentionId;
                string c = "name" + @attention.AttentionId;

                <div class="alert" tag="@attention.AttentionId">
                    <strong>@attention.Title</strong>
                </div>

            }
        }
    }
</div>
<script type="text/javascript">
    $(".alert").click(function () {
        var id = $(this).attr("tag");
        location.href = "/Function/NoticeShow?attentionid=" + id;
    })
</script>