@{
    ViewBag.Title = "经销商中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .yuanjiao {
        color: white;
        width: 100%;
        height: 2.3em;
        line-height: 2.3em;
        border: 1px solid white;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        margin-top: 1em;
        font-size: 0.9em;
    }

    .bei {
        background-color: #757947;
    }

    .jianjie {
        color: white;
        margin-top: 0.9em;
        font-size: 0.7em;
    }

        .jianjie > a {
            color: white;
        }

    .bj {
        width: 100%;
        height: 100%;
        z-index: -100;
        position: fixed;
        left: 0;
        top: 0;
    }

    h5,h4 {
        color: white;
        margin-bottom: 0.5em;
    }
    h5{
        color:#373636;
    }

    .lxts {
        width: 100%;
        z-index: 100;
        position: fixed;
        left: 0;
        bottom: 2%;
        text-align: center;
    }

        .lxts, .lxts > a {
            color: white;
            font-size: 1em;
        }

            .lxts > span {
                margin: 0 1.5em;
            }

    pre {
        text-align: left;
    }

    #imgdiv {
        position: relative;
    }

    #img1 {
        position: absolute;
        top: -18%;
        left: 57%;
        width: 15%;
    }

    #lvdiv {
        position: relative;
    }

    #lv {
        width: 50%;
        position: absolute;
        top: 0;
        left: 25%;
    }
    .hero-unit{
        padding:0;
        text-align:center;
        background: rgba(255,255,255,0.5);
    }
     .hero-unit .table td, .hero-unit .table th{
         text-align:center;
     }
     .hero-unit1{
         padding-top:0px;
     }
</style>
<img src="~/Images/bj/jxbj.png" class="bj" />
<div class="hero-unit1" style="text-align:center">
    <br />
    <div id="imgdiv">
        <img src="@ViewBag.headimgurl" id="img0" class="img-circle" width="30%" />
        <img src="@ViewBag.url" id="img1" />
    </div>
    <h4>@ViewBag.username</h4>
    <h5>@ViewBag.djname 用户 @ViewBag.openid</h5>
    <div id="lvdiv" class="progress progress-striped active" style="height:0.9em;line-height:0.9em;">
        <div class="bar" style="width:@ViewBag.dj%;"></div><div id="lv"><span>@ViewBag.poits</span><span>@ViewBag.num</span></div>
    </div>
    <div class="hero-unit">
        <table class="table table-striped">
            <tr>
                <th>排名</th>
                <th>姓名</th>
                <th>经验</th>
            </tr>
            @{
                var i = 1;
                if (@ViewBag.userslist != null)
                {
                    foreach (FirstPencilService.Models.User m in @ViewBag.userslist as List<FirstPencilService.Models.User>)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@m.Salesman.Name</td>
                            <td>@m.Point</td>
                        </tr>
                        i++;
                    }
                }
            }
        </table>
    </div>
</div>
<div class="lxts"><a id="lianxi">联系我们</a><span>|</span><a id="tousu">升级规则</a> </div>
<script type="text/javascript">
    $("#lianxi").on({
        "mouseout": function () {

        },
        "click": function () {
            alert("请拨打客服电话：021-62493972");
        }
    })
    $("#tousu").on({
        "mouseout": function () {

        },
        "click": function () {
            alert("敬请期待");
        }
    })
</script>

